## Casio
workloads/casio/.vscode
workloads/casio/output
workloads/casio/events.out.tfevents.*
workloads/casio/__pycache__
workloads/casio/*.pyc
workloads/casio/*.nsys-rep
workloads/casio/*.qdrep
workloads/casio/*.swp
workloads/casio/*.tar.xz
workloads/casio/results/
workloads/casio/casio-results
workloads/casio/charts/
workloads/casio/yoso-mlp
workloads/casio/cache
workloads/casio/*.pdf

## Rodinia
workloads/rodinia/gpu-rodinia/*.o
workloads/rodinia/gpu-rodinia/*.orig
workloads/rodinia/gpu-rodinia/*.swp
workloads/rodinia/gpu-rodinia/*.gch
workloads/rodinia/gpu-rodinia/*.out

workloads/rodinia/gpu-rodinia/bin/linux/cuda/*

workloads/rodinia/rodinia-data

## STEM
prev_work_repos
results
results_ncu
results_photon
results_validation
stem-figures
*.pyc

## STEM-AE
.venv/
figure1/results_nsys/
figure1/runtime.pdf

figure7/temp/
figure7/results_ncu
figure7/results_photon
figure7/results_ncu-example
figure7/results_photon-example
figure7/results

figure9/scatter.pdf

figure10/prevworks.pdf

figure11/results/

figure12/trace_nvbit/
figure12/macsim/*/*/macsim
figure12/macsim/*/*/*.err
figure12/macsim/*/*/*.out
figure12/macsim/*/*/*.0
figure12/macsim/*/*/NULL
figure12/macsim/*/*/trace_file_list
figure12/results.csv

macsim/.opt_build/
macsim/.sconf_temp/
macsim/.sconsign.dblite
macsim/bin/macsim
macsim/config.log
macsim/src/all_knobs.cc
macsim/src/all_knobs.h
macsim/src/all_stats.cc
macsim/src/all_stats.h
macsim/src/statsEnums.h
macsim/src/cscope
macsim/tools/mem_trace_generator/*.raw
macsim/tools/mem_trace_generator/mem_trace
macsim/bin/macsim
macsim/bin/*.out
macsim/bin/*.out.0
macsim/.dbg_build/
macsim/*.lo
macsim/*.la
macsim/*.deps/
macsim/*.libs/
macsim/Makefile
macsim/Makefile.in
macsim/*.dirstamp
macsim/sst-unit-test/*.out

## NVBit
nvbit/*/*.o
nvbit/*/*.so
nvbit/*/compress